input[type="text"] {
  width: 50%;
  padding: 10px;
  font-size: small;
  border-color: rgba(210, 105, 30, 0.597);
  margin-right: 1%;
}

button[type="submit"] {
  padding: 10px;
  background-color: chocolate;
  color: floralwhite;
  border-color: rgba(210, 105, 30, 0.597);
}
p {
  color: floralwhite;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border: 2px solid chocolate;
  border-radius: 15px;
  padding: 10px;
}

div[type="output"] {
  padding-top: 5%;
}
